head{
    margin:50px;
}

body{
    text-align:center;
    font-family:Arial;
    background:#FBDB93;
    margin:100px;
}

button{
    padding:10px 20px;
    margin:10px;
    font-size:16px;
    cursor:pointer;
}

.answers button{
    display:block;
    margin:10px auto;
}